<table>
    <tr>
        <td>ID e</td>
        <td>{{ studentDetailsCtrl.student.id }}</td>
    </tr>

    <tr>
        <td>Name</td>
        <td>{{ studentDetailsCtrl.student.name }}</td>
    </tr>

    <tr>
        <td>Gender</td>
        <td>{{ studentDetailsCtrl.student.gender }}</td>
    </tr>

    <tr>
        <td>City</td>
        <td>{{ studentDetailsCtrl.student.city }}</td>
    </tr>
</table>


<a href="students"><input type=button value='HOME'></a>
<!--<h4><a href="students">Back to Students list</a></h4>-->
<!--<input type="button" onclick="window.location.href='students';" value="back" />-->
