<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
    <script src="scripts/angular.js"></script>
    <script src="scripts/AppScript.js"></script>
</head>
<body ng-app="myModule">

    <div ng-controller="myController">
        
        <ul ng-repeat="country in countries">

            <li> {{ country.name }} </li> 

            <ul ng-repeat="city in country.cities">
                
                <li> {{ city.name }} </li>  

            </ul>

        </ul>
         
    </div>
</body>
</html>
